body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
}


.navigation {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}


#members.grid {
  display: grid;
  gap: 1rem;
}

#members.list section {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

