@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
  }

  #menu {
    display: none;
  }

  .intro {
    grid-template-columns: 2fr 1fr;
  }

  #courses {
    grid-template-columns: repeat(3, 1fr);
  }

  main {
    max-width: 1200px;
    margin: auto;
  }
}
